html {
  font-family: 'Open Sans', sans-serif;
  background-color: #e9967a;
  font-size: medium;
}

body {
  background-color: #FFDAB9;
  color: #2d2c2c;
  width: 800px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1{
  font-size: xxx-large;
  border-style: solid;
  text-align: center;
  padding: 20px;
  text-shadow: 2px 2px 1px rgb(62, 61, 61);
}

p, li{
  font-family: cursive;
  line-height: 2;
  letter-spacing: 0.5px;
  margin-left: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.column {
  padding: 20px;
}

#container {
  width: 100%;
}

#main {
  margin: 0 auto;
}


button{
  cursor: pointer;
  background-color: #2d2c2c;
  color: #ffffff;
  border-radius: 6px;
}

#hidebutton {
  cursor: pointer;
}


#jane img {
  height: 380px;
  transition: 0.3s;
  filter: brightness(90%);
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}

#jane img:hover {
  filter: brightness(100%);
}


iframe{
  display: block;
  margin: 0 auto;
}

